body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #222;
    padding: 20px;
    text-align: center;
  }
  
  nav a {
    color: #ddd;
    margin: 0 10px;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #fff;
  }
  
  main {
    padding: 20px;
  }
  
  h1, h2 {
    color: #fff;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  ul li a {
    color: #66ccff;
  }
  
  ul li a:hover {
    color: #0099cc;
  }
  